{% extends '@Discount/base.html.twig' %}
{% block title %}Main Page{% endblock %}


{% block body %}
    <div class="shell">
        <div class="gallery">
            <div class="gallery-t">

                <div class="gallery-holder">

                    <div class="gallery-content">
                        <ul>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image1.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image2.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image3.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image4.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image5.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image6.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image7.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image8.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image9.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image10.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image11.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image12.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image13.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image14.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image15.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image16.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image17.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>
                            <li><a href="#"><img src="{{ asset('css/images/gallery-image18.jpg') }}" alt="" /></a>
                                <div class="image-hover">
                                    <h5>Lorem ipsum sit amet dolor.</h5>
                                    <h6>Category Name</h6>
                                    <a href="#" class="preview">Preview image</a>
                                </div>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>
        </div>
        <div class="gallery-b">&nbsp;</div>
    </div>
    {{ prod.stikerName }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}