{% extends '@Discount/base.html.twig' %}
{% block title %}VueJS{% endblock %}


{% block body %}

    {% verbatim %}
        <div id="app">
            {{ message }}
        </div>
        
        <div id="app-2">
		  <span v-bind:title="message">
			Наведи курсор на меня пару секунд,
			чтобы увидеть динамически связанное значение title!
		  </span>
		</div>
    {% endverbatim %}


	{% for test in tests %}
		ID: {{ test.id }}, Name: {{ test.name }}, 
		<ol>
			{% for dat in datas[test.id] %}
				<li>Value: {{ dat.value }}</li>
			{% endfor %}
		</ol><br><br>
	{% endfor %}
	
	



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Привет, Vue!'
            }
        })
        

		var app2 = new Vue({
			el: '#app-2',
			data: {
				message: 'Вы загрузили эту страницу в: ' + new Date().toLocaleString()
		  }
		})
    </script>
{% endblock %}
